---
import Layout from '../layouts/Layout.astro';
import ProjectsList from '../components/ProjectsList.astro';
---

<Layout title="Наши работы">
	<h1>StandartSoft +</h1>
	<h2>portfolio</h2>
	<p>Здесь записи о проектах.</p>
	<ProjectsList />
</Layout>